<h1>List your favourite movies</h1>

<%= cl_image_tag("xaqxxyy31dl73bfz6wp9",
      width: 400, height: 300, crop: :fill) %>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
    <% if list.photo.key.empty? %>
      <p>Add a picture to the list</p>
    <% else %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
</ul>
<%= link_to "Add a new list", new_list_path, class: 'btn btn-primary' %>

