<h1>List your favourite movies</h1>

<%= cl_image_tag("SAMPLE_PROJECT_agettp",
      width: 400, height: 300, crop: :fill) %>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
<%= link_to "Add a new list", new_list_path, class: 'btn btn-primary' %>

