<h1><%= @list.name %></h1>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

<%  @list.bookmarks.each do |bookmark|%>
  <li>
    <%= bookmark.comment %>
  </li>
<% end %>

<%= link_to "Go back to all lists", root_path %>


